{{ define "experience" }}
<div>
  {{ block "section-title" "Professional Experience" }}{{ end }}
  <div>
    {{ range $i, $exp := . }}
    <div class="font-bold">
      <div class="flex justify-between w-full text-lg">
        <p>{{ $exp.Role }}</p>
        <p>{{ $exp.Company }}</p>
      </div>
      <div class="flex justify-between w-full text-base">
        <p>{{ $exp.Location }}</p>
        <p>{{ $exp.StartDate }} - {{ $exp.EndDate }}</p>
      </div>
      <ul class="list-disc pl-5 font-normal text-base">
        {{ range $i, $pt := .KeyPointList }}
        <li>{{ $pt }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
