{{ define "projects" }}
<div>
  {{ block "section-title" "Projects" }}{{ end }}
  <div>
    {{range $i, $proj := .}}
    <div>
      <p class="font-bold text-xs">
        <span class="text-sm">{{$proj.Title}}</span> | {{$proj.Role}} |
        <a
          href="{{$proj.URL}}"
          target="_blank"
          class="text-blue-700 underline font-medium"
          >{{$proj.URL}}</a
        >
      </p>
      <ul class="list-disc pl-5 font-normal text-xxs">
        {{ range $i, $pt := .KeyPointList }}
        <li>{{ $pt }}</li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
